/* ======================================================= */
/*                        Structure                        */
/* ======================================================= */
/* Main Structure
---------------------------------------------------------- */
* html #page { 
    display: inline; 
}
body {
    background: transparent url(../images/bg-light.png) repeat;
}
#main { 
    position: relative; 
}
#page {
    position: relative;
    color: #333333;
    font-size: 14px;
}
/* Content
---------------------------------------------------------- */
#page-content {
    position: relative;
    z-index: 10;
}
/* Animation
---------------------------------------------------------- */
.stage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 380px;
    overflow: hidden;
    background: transparent url(../images/sky.png) repeat-x;
}
#clouds {
    background: transparent url(../images/cloud.png) repeat-x;
    top: 30px;
    height: 114px;
}
#hill {
    background: transparent url(../images/hill.png) repeat-x;
    top: 320px;
    height: 94px;
}
#main-container {
    background: transparent url(../images/bg-dark.png) repeat;
}
/* ======================================================= */
/*                         Header                          */
/* ======================================================= */
#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    width: 100%;
    padding: 4px 0;
    height: 44px;
    border-top: solid 6px #55A4AE;
    background-color: #222930;
    border-bottom: solid 3px #fff;
}
#header-content {
    position: relative;
}
a.logo {    
    font-family: Arial;
    color: #666;
    font-size: 24px;
    font-weight: bold;
    line-height: 44px;
    margin-right: 20px;
    margin-left: 5px;
}
#header-content > div {
    float: left;
}
#header-content {
    color: #E9E9E9;
    font-weight: bold;
    font-size: 1em;
} 
#header-content .profile-picture {
    position: absolute;
    right: 5px;
    top: 5px;
} 
#header-content .user-name {
    position: absolute;
    right: 50px;
    top: 6px;
} 
#header-content .logout-link {
    position: absolute;
    right: 50px;
    top: 20px;
} 
#header-content .login-link {
    position: absolute;
    right: 50px;
    top: 20px;
    cursor: pointer;
} 
#header-content .login-link {
    position: absolute;
    right: 10px;
    top: 13px;
    width: 68px;
    height: 21px;
    background-image: url(../images/login.png);
} 
/* Navigation
---------------------------------------------------------- */
#nav {
}
#nav li {
    margin: 0 5px;
    padding: 0 0 8px;
    float: left;
    position: relative;
    list-style: none;
    line-height: 44px;
}
#nav a {
    padding: 0 15px 0 15px;
    display: inline;
    list-style: none;
    color: #E9E9E9;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
}
#nav a:hover {
    color: #55A4AE;
}
#nav .current a {
    background-color: #4EB1BA;
    padding: 6px 11px;
    color: #E9E9E9;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}
/* Welcome
---------------------------------------------------------- */
.welcome {
    position: relative;
    top: 120px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    font-weight: bold;
}
/* ======================================================= */
/*                         Player                          */
/* ======================================================= */
#player-container {
    position: relative;
    top: 45px;
    width: 75%;
    min-width: 480px;
    min-height: 368px; /* 320 + 48 (now playing) */
    max-width: 640px;
    max-height: 5280px; /* 480 + 48 (now playing) */
    margin-left: auto;
    margin-right: auto;
}
/*
#player-container {    
    position: relative;    
    top: 80px;
    width: 640px;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
}
#player {
    position: relative;
    width: 640px;
    height: 480px;
    background-color: #eee;
}
*/
#player {
    background: #000;
    border: 3px solid #E9E9E9;
    box-shadow: 0 3px 6px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
}
#player-screen {
    position: absolute;
    width: 678px;
    height: 496px;
    top: 27px;
    left: -19px;
}
#player.loading {
    background: #000 url(../images/loading-big.gif) no-repeat center;
}
/* Flex Video (http://www.alistapart.com/articles/creating-intrinsic-ratios-for-video)
---------------------------------------------------------- */
.flex-video {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
    /*margin-bottom: 16px;*/
    overflow: hidden;
}
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video iframe,
.flex-video object,
.flex-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Player Border
---------------------------------------------------------- */
#player-top-border {
    position: absolute;
    width: 100%;
    height: 16px;
    top: -16px;
    left: -16px;
    background: transparent url(../images/screen.png) repeat-x left top;
}
#player-right-border {
    position: absolute;
    width: 16px;
    height: 100%;
    top: -16px;
    right: -16px;
    background: transparent url(../images/screen.png) repeat-y right top;
}
#player-bottom-border {
    position: absolute;
    width: 100%;
    height: 16px;
    bottom: -16px;
    right: -16px;
    background: transparent url(../images/screen.png) repeat-x right bottom;
}
#player-left-border {
    position: absolute;
    width: 16px;
    height: 100%;
    bottom: -16px;
    left: -16px;
    background: transparent url(../images/screen.png) repeat-y left bottom;
}
/* Now Playing
---------------------------------------------------------- */
.now-playing {
    position: relative;
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    font-weight: bold;
    color: #222930;
    /*text-shadow: -1px 0 #E9E9E9, 0 1px #E9E9E9, 1px 0 #E9E9E9, 0 -1px #E9E9E9;*/
    text-shadow: -1px 0 #E9E9E9, 0 1px #E9E9E9;
    text-align: center;
    overflow: hidden;
}
.now-playing #video-title {
    cursor: pointer;
}
/* ======================================================= */
/*                         Search                          */
/* ======================================================= */
#query {
    padding: 0 10px;
    width: 230px;
    height: 24px;
    color: #666;
    font-size: 12px;
    border-color: #B6B6B6 gainsboro gainsboro #B6B6B6;
    border-width: 1px;
    border-style: inset;
    border-radius: 5px;
}
/* ======================================================= */
/*                        Playlist                         */
/* ======================================================= */
#main-container {
    position: relative;
    margin-right: 420px;
    top: 58px;
}
/* Videos
---------------------------------------------------------- */
ul.videos-list {
    margin: 0;
    padding: 0;
}
li.video {
    position: relative;
    display: block;
    list-style-type: none;
    padding: 3px;
    margin: 0;
    height: 36px;
    border-bottom: solid 1px #ddd;
}
li.video.playing {
    background-color: #ccc;
}
li.video:first-child {
    border-top: solid 1px #999;
}
li.video:hover {
    /*
    opacity: 0.7;
    filter: alpha(opacity=70);
    */
    background-color: #e3e3e3;
}
li.video .preview {
    position: absolute;
}
li.video .preview img {
    width: 50px;
    height: 30px;
    padding: 2px;
    border: #ccc solid 1px;
    background-color: white;
    cursor: pointer;
}
li.video .info {
    position: absolute;
    left: 63px;
    overflow: hidden;
}
li.video .title {
    font-size: 13px;
    white-space: nowrap;
    color: #4b7eff;
    display: inline-block;
}
li.video .title a {
    color: #4b7eff;
}
li.video .stats {
    font-size: 9px;    
    float: left;
}
li.video .stats span {
    padding-left: 14px;
}
li.video .info .time {
    background: url(../images/time.png) no-repeat left center;
}
li.video .info .views {
    background: url(../images/views.png) no-repeat left center;
    margin-left: 6px;
}
li.video .info .date {
    background: url(../images/date.png) no-repeat left center;
    margin-left: 6px;
}
/* Side Panel
---------------------------------------------------------- */
#side-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 460px;
    height: 100%;
    font-size: 11px;
    background-color: #efefef;
    background-color: #fff;
    border-left: 1px solid #ccc;
    box-shadow: -1px 0 5px 0 rgba(0,0,0, 0.2);
    z-index: 15;
}
/* Controls
---------------------------------------------------------- */
#play-actions {
    position: absolute;    
    height: 48px;
    left: 0;
    bottom: -60px;
}
#play-actions ul {
    margin: 0;
}
li.control {
    display: block;
    float: left;
    width: 48px;
    height: 48px;
    margin: 0;
    list-style-type: none;
    background-image: url(../images/controls.png);
    background-repeat: no-repeat;
}
li.control:hover {
    cursor: pointer;
}
li.control.play {background-position: 0 top;}
li.control.play:hover {background-position: 0 bottom;}
li.control.stop {background-position: 25% top;}
li.control.stop:hover {background-position: 25% bottom;}
li.control.pause {background-position: 50% top;}
li.control.pause:hover {background-position: 50% bottom;}
li.control.prev {background-position: 75% top;}
li.control.prev:hover {background-position: 75% bottom;}
li.control.next {background-position: 100% top;}
li.control.next:hover {background-position: 100% bottom;}
/* Actions
---------------------------------------------------------- */
li.video .actions {
    position: absolute;
    z-index: 100;
    right: 5px;
    top: 5px;
}
li.video .actions span {
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    float: left;
    margin-left: 5px;
    cursor: pointer;
    display: none;
}
li.video .actions .like       {background-image: url(../images/icon_like_off.png);}
li.video .actions .like.selected,
li.video .actions .like.on    {background-image: url(../images/icon_like_on.png);}
li.video .actions .edit       {background-image: url(../images/icon_edit_off.png);}
li.video .actions .edit.on    {background-image: url(../images/icon_edit_on.png);}
li.video .actions .delete     {background-image: url(../images/icon_delete_off.png);}
li.video .actions .delete.on  {background-image: url(../images/icon_delete_on.png);}
/* Play Mode
---------------------------------------------------------- */
#play-mode {
    position: absolute;    
    height: 48px;
    right: 0;
    bottom: -60px;
}
.play-mode {
    float: left;
    background-image: url(../images/play-mode.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 0;
}
.play-mode:hover {
    cursor: pointer;
}
.shuffle.off {background-position: top right !important;}
.shuffle.on, .shuffle:hover {background-position: bottom right !important;}
.repeat.off {background-position: top left !important;}
.repeat.on, .repeat:hover {background-position: bottom left !important;}
/* Playlist
---------------------------------------------------------- */
#playlist {
    position: absolute;
    width: 100%;
    top: 58px;
    right: 0;
    display: block;
}
#playlist-container {
    overflow-x: hidden;
    overflow-y: scroll;
}
.box-title {
    font-size: 14px;
    line-height: 26px;
    color: #E9E9E9;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #222930;
    margin: 0;
    padding: 4px 4px 4px 8px;
    border-top: solid 3px #fff;
    border-bottom: solid 3px #4EB1BA;
    clear:  both;
}
/* Search
---------------------------------------------------------- */
#search {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
    background-color: #fff;
}
#search-container {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 34px;
    padding: 5px;
}
#video-id-to-add {
    font-size: 20px;
}
/* ======================================================= */
/*                        Playlists                        */
/* ======================================================= */
/* Create
---------------------------------------------------------- */
#create-playlist {
    position: relative;
    margin: 90px 0 0 40px;
}
#create-playlist input {
    width: 200px;
    height: 24px;
    border: solid 1px #ccc;
    padding: 3px;
}
/* Playlists
---------------------------------------------------------- */
#playlists-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 58px;
}
.playlists {
}
li.playlist {
    list-style-type: none;
    margin: 10px 0 0 10px;
    padding: 3px;
    float: left;
    width: 164px;
    height: 127px;
    color: white;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #B7B7B7;
    border-color: gainsboro #B7B7B7 #B7B7B7 gainsboro;
    background: white;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, 1)), color-stop(100%,rgba(238, 238, 238, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(238, 238, 238, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(238, 238, 238, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(238, 238, 238, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
    background: linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(238, 238, 238, 1) 100%);
    vertical-align: middle;
    cursor: pointer;
}
li.playlist:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
}
li.playlist .thumb {
    width: 140px;
    height: 80px;
    padding: 1px;
    border: #ccc solid 1px;
    background-color: white;
}
li.playlist .details {
    position: relative;
    bottom: 0;
    width: 164px;
    overflow: hidden;
    text-align: center;
}
li.playlist p {
    line-height: 12px;
    margin: 3px 0 3px;
    font-size: 11px;
    color: #666;
}
li.playlist .title {
    font-size: 12px;
    white-space: nowrap;    
    overflow: hidden;
    color: #4b7eff;    
}
li.playlist p.date {
    float: right;
    background: url(../images/date.png) no-repeat left center;
    padding-left: 14px;
    margin-right: 10px;
}
li.playlist p.videos {
    float: left;
    background: url(../images/videos.png) no-repeat left center;
    padding-left: 14px;
    margin-left: 10px;
}
li.playlist p.contributers {
    float: left;
    background: url(../images/contributers.png) no-repeat left center;
    padding-left: 14px;
    margin-left: 5px;
}
/* ======================================================= */
/*                      Notifications                      */
/* ======================================================= */
#gritter-notice-wrapper {
    position:fixed;
    top:66px;
    left:5px;
    width:301px;
    z-index:9999;
}
#gritter-notice-wrapper.top-left {
    left:20px;
    right:auto;
}
#gritter-notice-wrapper.bottom-right {
    top:auto;
    left:auto;
    bottom:20px;
    right:20px;
}
#gritter-notice-wrapper.bottom-left {
    top:auto;
    right:auto;
    bottom:20px;
    left:20px;
}
.gritter-item-wrapper {
    position:relative;
    margin:0 0 10px 0;
    background:url('../images/ie-spacer.gif'); /* ie7/8 fix */ 
}
.gritter-top {
    background:url(../images/gritter.png) no-repeat left -30px;
    height:10px;
}
.hover .gritter-top {
    background-position:right -30px;
}
.gritter-bottom {
    background:url(../images/gritter.png) no-repeat left bottom;
    height:8px;
    margin:0;
}
.hover .gritter-bottom {
    background-position: bottom right;
}
.gritter-item {
    display:block;
    background:url(../images/gritter.png) no-repeat left -40px;
    color:#eee;
    padding:2px 11px 2px 11px;
    font-size:10px;
    font-family:verdana;
}
.hover .gritter-item {
    background-position:right -40px;
}
.gritter-item p {
    padding:0;
    margin:0;
}
.gritter-close {
    position:absolute;
    top:5px;
    left:3px;
    background:url(../images/gritter.png) no-repeat left top;
    cursor:pointer;
    width:30px;
    height:30px;
}
.gritter-title {
    font-size:12px;
    font-weight:bold;
    padding:0 0 1px 0;
    display:block;
    text-shadow:1px 1px #000; /* Not supported by IE :( */
}
.gritter-image {
    width:64px;
    height:48px;
    float:left;
}
.gritter-with-image,
.gritter-without-image {
    padding:0 0 5px 0;
}
.gritter-with-image {
    width:204px;
    float:right;
}
/* ======================================================= */
/*                         Modal                           */
/* ======================================================= */
#basic-modal-content {display:none;}
#simplemodal-overlay {background-color:#000; cursor:wait;}
#simplemodal-container {height:80px; width:360px; color:#bbb; background-color:#333; border:4px solid #444; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}
#simplemodal-container p {font-size:18px;}



.avatar {
    position: absolute;
    width: 80px;
    height: 115px;
    background: transparent url(../images/avatar.png) no-repeat 0 0;
}
.avatar:hover {
    z-index: 9999;
}
.avatar img {
    position: absolute;
    left: 20px;
    bottom: 19px;
}

#requestNotificationsPermissions {
    position: absolute;
    right: 5px;
    top: 10px;
    font-size: 11px;
    color: #262626;
    background: rgba(255, 255, 255, 0.4);
    border: solid 1px rgba(255, 255, 255, 0.5);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    padding: 3px 10px 3px 10px;
}
#requestNotificationsPermissions:hover {
    background: rgba(255, 255, 255, 0.7);
    border: solid 1px rgba(255, 255, 255, 0.8);
}